.LogoWrapper {
  display: flex;
  align-items: flex-end;
  text-decoration: none;
  width: 125px;
}

.Logo {
  height: 56px;
}

.LogoText {
  font-size: var(--font-xl);
  font-weight: var(--font-normal);
  color: var(--color-almost-black);
  line-height: 18px;
}
