.Wrapper {
  height: 100%;
  margin: auto;
}
.Title {
  margin-bottom: 30px;
  font-size: var(--font-xxl);
  text-align: center;
}
.Name {
  color: var(--color-white);
  font-size: var(--font-xl);
  font-weight: var(--font-medium);
  text-align: center;
  width: 100%;
}

@media screen and (min-width: 1440px) {
  .Title {
    font-size: var(--font-xxxl);
    margin-bottom: 60px;
  }
}
