.Container {
  height: 200px;
  background-color: var(--color-light-grey);
  overflow: hidden;
  border-radius: 8px;
}

.Image {
  min-height: 100%;
  min-width: 100%;
  margin: auto;
}

@media screen and (min-width: 768px) {
  .Container {
    height: 250px;
  }
}

@media screen and (min-width: 1440px) {
  .Container {
    height: 500px;
  }
}

@media screen and (min-width: 1920px) {
  .Container {
    height: 525px;
  }
}