:root {
    --container-width: calc(100vw - 40px);
}

@media screen and (min-width: 768px) {
    :root {
        --container-width: calc(100vw - 80px);
    }
}

@media screen and (min-width: 1440px) {
    :root {
        --container-width: 1366px;
    }
}

@media screen and (min-width: 1920px) {
    :root {
        --container-width: 1440px;
    }
}