@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500;700&family=Roboto:wght@300;400;700&display=swap");

:root {
  // family
  --font-primary: "Roboto", sans-serif;
  --font-secondary: "Roboto Slab", serif;
  // weight
  --font-thin: 300;
  --font-normal: 400;
  --font-medium: 500;
  --font-bold: 700;
  // sizes
  --font-xxxl: 24px;
  --font-xxl: 20px;
  --font-xl: 18px;
  --font-normal: 14px;
}

@media screen and (min-width: 768px) {
  :root {
    --font-xxxl: 26px;
    --font-xxl: 22px;
    --font-xl: 20px;
    --font-normal: 16px;
  }
}

@media screen and (min-width: 1440px) {
  :root {
    --font-xxxl: 32px;
    --font-xxl: 28px;
    --font-xl: 24px;
  }
}
