.slick {
  &-slider {
    width: 100vw;
    margin-left: -20px;
    height: 100%;
    overflow: hidden;
  }
  &-list {
    height: 100%;
  }
  &-track {
    height: 100%;
  }
  &-slide {
    & > div {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  &-dots {
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    li {
      width: auto;
      button {
        width: auto;
        &::before {
          content: "";
          display: block;
          position: static;
          width: 50px;
          height: 2px;
          background-color: var(--color-white);
          opacity: 0.5;
        }
      }
      &.slick-active button::before {
        opacity: 1;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .slick-slider {
    margin-left: -40px;
  }
}

@media screen and (min-width: 1440px) {
  .slick-slider {
    width: var(--container-width);
    margin: 0;
  }
}
