@import "slider";
@import "fonts";
@import "colors";
@import "container";
@import "other";

a,
span,
p {
  font-family: var(--font-primary);
  font-size: var(--font-normal);
  color: var(--color-almost-black);
  font-weight: var(--font-thin);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-secondary);
  color: var(--color-almost-black);
}
