.Header {
  padding: 10px 0;
  position: sticky;
  top: 0;
  background-color: var(--color-white);
  z-index: 999;
  &.Shadow {
    box-shadow: var(--shadow-light);
  }
}

.Navbar {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  width: var(--container-width);
  margin: auto;
}

.Links {
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center;
}

.Link {
  display: inline-block;
  color: var(--color-almost-black);
  font-weight: var(--font-thin);
  padding: 8px;
  text-decoration: none;
  transition: all var(--time-fast) ease-in-out;
  &.Active {
    font-weight: var(--font-normal);
    cursor: default;
  }
  &:hover:not(.Active) {
    transform: scale(1.05);
  }
}

@media screen and (max-width: 767px) {
  .Links {
    display: none;
  }
}
