.Wrapper {
  width: 100%;
  height: 300px;
  margin-bottom: 32px;
  overflow: hidden;
  border-radius: 12px;
  position: relative;
}

.Image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.Text {
  display: flex;
  align-items: flex-end;
  padding: 15px 5%;
  height: 75%;
  width: 100%;
  position: absolute;
  bottom: 0;
  background: rgb(50, 50, 50);
  background: linear-gradient(
    0deg,
    rgba(50, 50, 50, 0.9) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}

@media screen and (min-width: 1440px) {
  .Wrapper {
    width: 700px;
    height: 350px;
    margin: 0 auto 40px;
  }
}
