.Footer {
  border-top: 1px solid var(--color-almost-white);
  margin-top: auto;
  padding: 20px 0;
  background-color: var(--color-white);
  position: relative;
  width: 100vw;
  overflow-x: hidden;
}

.Content {
  display: flex;
  flex-flow: row;
  align-items: center;
  width: var(--container-width);
  margin: auto;
}

.Contacts {
  display: flex;
  flex-flow: column;
  margin: auto;
}

.LinkWrapper {
  display: inline-flex;
  align-items: center;
  padding: 10px 0;
}

.Link {
  display: inline-block;
  color: var(--color-almost-black);
  font-weight: var(--font-thin);
  padding: 0 12px;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.LinkLabel {
  display: inline-block;
  width: 48px;
}

@media screen and (max-width: 767px) {
  .LogoWrapper {
    display: none;
  }
  .Contacts {
    margin: 0;
  }
}
