.Title {
  text-align: center;
}

.ProductContainer {
  display: flex;
  flex-flow: column;
}

.Col {
  width: 100%;
}

.ProductTitle {
  margin-bottom: 8px;
}

.Text {
  margin: 8px auto;
}

.ProductImage {
  object-fit: cover;
  display: block;
  width: 100%;
  height: 280px;
  border-radius: 8px;
  margin: 40px auto 20px;
  background-color: var(--color-almost-white);
}

@media screen and (min-width: 768px) {
  .ProductContainer {
    flex-flow: row;
    justify-content: space-between;
    padding: 30px 0;
  }

  .Col {
    width: 45%;
  }

  .ProductImage {
    margin: auto;
    height: 230px;
  }
}

@media screen and (min-width: 1440px) {
  .Title {
    margin-bottom: 30px;
  }

  .ProductTitle {
    margin-top: 40px;
  }

  .ProductImage {
    height: 350px;
  }
}
