.Button {
  height: 48px;
  width: 48px;
  border: none;
  background-color: transparent;
  margin: auto 0;
}

.Icon {
  height: 100%;
  width: 100%;
  &.Open {
    .TopLine {
      transform: rotate(-45deg) translateX(-28px) translateY(3px);
    }
    .BottomLine {
      transform: rotate(45deg) translateX(12px) translateY(-18px);
    }
  }
}

.TopLine,
.BottomLine,
.Navbar {
  transition: all var(--time-medium) ease-in-out;
}

.Navbar {
  position: fixed;
  top: 76px;
  left: 0;
  height: calc(100vh - 76px);
  width: 100vw;
  background-color: var(--color-white);
  z-index: 1;
  transform: translateX(-100vw);
  display: flex;
  flex-flow: column;
  align-items: center;
  padding-top: 100px;
  &.Open {
    transform: translateX(0);
  }
}

.NavLink {
  font-family: var(--font-secondary);
  font-weight: var(--font-medium);
  font-size: var(--font-xl);
  margin: 6px auto;
  &.Active {
      text-decoration: underline;
  }
}

@media screen and (min-width: 768px) {
  .Button {
    display: none;
  }
  .Navbar {
    display: none;
  }
}
