.PageWrapper {
  width: var(--container-width);
  margin: 0 auto;
  padding: 40px 0;
  display: flex;
  flex-flow: column;
}

.ListWrapper {
  list-style: none;
  padding: 0;
}

.ListItem {
  margin: 10px 0;
  padding-left: 15px;
  position: relative;
  line-height: 18px;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    background-color: var(--color-greish);
    width: 6px;
    height: 6px;
    top: 6px;
    border-radius: 3px;
  }
}
